.app {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.navigation-list {
  display: flex;

  list-style: none;
  background-color: #cda4ee;
  height: 50px;
  margin: 0;
  padding: 25px;
}

.navLink {
  font-size: 40px;
  color: currentColor;
  margin-right: 18px;
  text-decoration: none;
}

.navLink--active {
  color: rgb(248, 248, 250);
}

.movieDetails {
  display: flex;
  padding-left: 30px;
}

.movieDescr {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  padding-right: 10px;

  max-width: 500px;
}
.extraInfo {
  margin-left: 50px;
}

.backBtn {
  margin: 15px;
}
